<a href="https://colab.research.google.com/github/Bizor1/Data_structures-and-Algorithms/blob/main/binanrysearch_trees2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
class User:
  def __init__(self,username,name,mail):
    self.username=username
    self.name=name
    self.mail=mail

  def __repr__(self):
      return "User(username='{}', name='{}', email='{}')".format(self.username, self.name, self.mail)

  def ___str__(self):
    return self.__repr__()

In [2]:
user1=User('Johnd','jOHN doe','jd@gmail.com')
user1

User(username='Johnd', name='jOHN doe', email='jd@gmail.com')

In [3]:
user1

User(username='Johnd', name='jOHN doe', email='jd@gmail.com')

In [4]:
class UserDatabase:
  def insert(self,user):
    pass

  def find(self,username):
    pass

  def update(self,user):
    pass
  
  def list_all():
    pass

In [5]:
aakash = User('aakash', 'Aakash Rai', 'aakash@example.com')
biraj = User('biraj', 'Biraj Das', 'biraj@example.com')
hemanth = User('hemanth', 'Hemanth Jain', 'hemanth@example.com')
jadhesh = User('jadhesh', 'Jadhesh Verma', 'jadhesh@example.com')
siddhant = User('siddhant', 'Siddhant Sinha', 'siddhant@example.com')
sonaksh = User('sonaksh', 'Sonaksh Kumar', 'sonaksh@example.com')
vishal = User('vishal', 'Vishal Goel', 'vishal@example.com')

In [6]:
users=[aakash,biraj,hemanth,jadhesh,siddhant,sonaksh,vishal]

users_names=[]

for user in users:
  users_names.append(user.name)


print(users_names)

['Aakash Rai', 'Biraj Das', 'Hemanth Jain', 'Jadhesh Verma', 'Siddhant Sinha', 'Sonaksh Kumar', 'Vishal Goel']

In [7]:
print(users)

[User(username='aakash', name='Aakash Rai', email='aakash@example.com'), User(username='biraj', name='Biraj Das', email='biraj@example.com'), User(username='hemanth', name='Hemanth Jain', email='hemanth@example.com'), User(username='jadhesh', name='Jadhesh Verma', email='jadhesh@example.com'), User(username='siddhant', name='Siddhant Sinha', email='siddhant@example.com'), User(username='sonaksh', name='Sonaksh Kumar', email='sonaksh@example.com'), User(username='vishal', name='Vishal Goel', email='vishal@example.com')]

In [8]:
print('aakash'>'jadhesh')

False

In [9]:
class UserDatabase:
  def __init__(self):
    self.users=[]

 

  def insert(self,user):
    i=0
    while i<len(self.users):
      if self.users[i].username[i]> user.username:
        break
      
      i+=1

    self.users.insert(i,user)
  

  def find(self,username):
    for user in self.users:
      if user.username==username:
        return user

  
  def update(self,user):
    target=self.find(user.username)
    target.name,target.mail=user.name,user.mail


  def list_all(self):
    return self.users

In [10]:
database=UserDatabase()

In [11]:
database.insert(hemanth)
database.insert(aakash)
database.insert(siddhant)

In [12]:
database.users

[User(username='aakash', name='Aakash Rai', email='aakash@example.com'),
 User(username='hemanth', name='Hemanth Jain', email='hemanth@example.com'),
 User(username='siddhant', name='Siddhant Sinha', email='siddhant@example.com')]

In [13]:
user = database.find('siddhant')
user

User(username='siddhant', name='Siddhant Sinha', email='siddhant@example.com')

In [14]:
database.list_all()

[User(username='aakash', name='Aakash Rai', email='aakash@example.com'),
 User(username='hemanth', name='Hemanth Jain', email='hemanth@example.com'),
 User(username='siddhant', name='Siddhant Sinha', email='siddhant@example.com')]

In [15]:
class TreeNode:
  def __init__(self,key):
    self.key=key
    self.right=None
    self.left=None

In [16]:
node0=TreeNode(3)
node1=TreeNode(4)
node2=TreeNode(5)

node0.left=node1
node0.right=node2

In [17]:
tree=node0

In [18]:
tree.left.key

4

In [19]:
tree_tuple=((1,3,None),2,((None,3,4),5,(6,7,8)))

In [20]:
def parse_tuple(data):
  if isinstance(data,tuple) and len(data)==3:
    node=TreeNode(data[1])
    node.left=parse_tuple(data[0])
    node.right=parse_tuple(data[2])

  elif data==None:
    node=None

  else:
    node=TreeNode(data)
  
  return node

In [21]:
def parse_tuple(data):
  if isinstance(data,tuple) and len(data)==3:
    node=TreeNode(data[1])
    node.left=parse_tuple(data[0])
    node.right=parse_tuple(data[2])

  elif data==None:
    node=None
  else:
    node=TreeNode(data)

  return node

In [22]:
tree2 = parse_tuple(((1,3,None), 2, ((None, 3, 4), 5, (6, 7, 8))))

In [23]:
tree2

In [24]:
tree2.key

2

In [25]:
tree2.left.key,tree2.right.key

(3, 5)

In [26]:
def display_keys(node,space='\t',level=0):
  if node is None:
    print(space * level+'@')
    return

  if node.left is None and node.right is None:
    print(space*level+str(node.key)) 
    return

  display_keys(node.right,space,level+1)
  print(space*level + str(node.key))
  display_keys(node.left,space,level+1)

In [27]:
def display_keys(node, space='\t', level=0):
    # print(node.key if node else None, level)
    
    # If the node is empty
    if node is None:
        print(space*level + '∅')
        return   
    
    # If the node is a leaf 
    if node.left is None and node.right is None:
        print(space*level + str(node.key))
        return
    
    # If the node has children
    display_keys(node.right, space, level+1)
    print(space*level + str(node.key))
    display_keys(node.left,space, level+1)

In [28]:
display_keys(tree2,'       ')

                     8
              7
                     6
       5
                     4
              3
                     ∅
2
              ∅
       3
              1

In [29]:
def traverse_in_order(node):
  if node is None:
    return []

  return (traverse_in_order(node.left)+ [node.key]+ traverse_in_order(node.right))

In [30]:
traverse_in_order(tree2)

[1, 3, 2, 3, 4, 5, 6, 7, 8]

In [31]:
def tree_height(node):
  if node is None:
    return 0


  return 1+ max(tree_height(node.left),tree_height(node.right))

In [32]:
tree_height(tree2)

4

In [33]:
def tree_size(node):
  if node is None:
    return 0
  return 1+ tree_size(node.left) +tree_size(node.right)

In [34]:
class TreeNode():
    def __init__(self, key):
        self.key, self.left, self.right = key, None, None
    
    def height(self):
        if self is None:
            return 0
        return 1 + max(TreeNode.height(self.left), TreeNode.height(self.right))
    
    def size(self):
        if self is None:
            return 0
        return 1 + TreeNode.size(self.left) + TreeNode.size(self.right)

    def traverse_in_order(self):
        if self is None: 
            return []
        return (TreeNode.traverse_in_order(self.left) + 
                [self.key] + 
                TreeNode.traverse_in_order(self.right))
    
    def display_keys(self, space='\t', level=0):
        # If the node is empty
        if self is None:
            print(space*level + '∅')
            return   

        # If the node is a leaf 
        if self.left is None and self.right is None:
            print(space*level + str(self.key))
            return

        # If the node has children
        display_keys(self.right, space, level+1)
        print(space*level + str(self.key))
        display_keys(self.left,space, level+1)    
    
    def to_tuple(self):
        if self is None:
            return None
        if self.left is None and self.right is None:
            return self.key
        return TreeNode.to_tuple(self.left),  self.key, TreeNode.to_tuple(self.right)
    
    def __str__(self):
        return "BinaryTree <{}>".format(self.to_tuple())
    
    def __repr__(self):
        return "BinaryTree <{}>".format(self.to_tuple())
    
    @staticmethod    
    def parse_tuple(data):
        if data is None:
            node = None
        elif isinstance(data, tuple) and len(data) == 3:
            node = TreeNode(data[1])
            node.left = TreeNode.parse_tuple(data[0])
            node.right = TreeNode.parse_tuple(data[2])
        else:
            node = TreeNode(data)
        return node

In [35]:
tree_tuple

((1, 3, None), 2, ((None, 3, 4), 5, (6, 7, 8)))

In [36]:
tree= TreeNode.parse_tuple(tree_tuple)

In [37]:
tree

BinaryTree <((1, 3, None), 2, ((None, 3, 4), 5, (6, 7, 8)))>

In [38]:
tree.display_keys('  ')

      8
    7
      6
  5
      4
    3
      ∅
2
    ∅
  3
    1

In [53]:

def remove_none(nums):
  return [x for x in nums if x is not None]

def is_bst(node):
  if node is None:
    return True ,None ,None

  is_bst_l,min_l,max_l=is_bst(node.left)
  is_bst_r,min_r,max_r=is_bst(node.right)

  is_bst_node=(is_bst_l and is_bst_r and (max_l is None or node.key > max_l) and (min_r is None or node.key < min_r))

  min_key=min(remove_none([min_l,node.key,min_r]))
  max_key=max(remove_none([max_l,node.key,max_r]))


  return is_bst_node,min_key,max_key

In [43]:
tree1 = TreeNode.parse_tuple(((1, 3, None), 2, ((None, 3, 4), 5, (6, 7, 8))))

In [44]:
tree2 = TreeNode.parse_tuple((('aakash', 'biraj', 'hemanth')  , 'jadhesh', ('siddhant', 'sonaksh', 'vishal')))

In [55]:
is_bst(tree2)

(True, 'aakash', 'vishal')

In [54]:
is_bst(tree1)

(False, 1, 8)

In [56]:
class BSTNode:
  def __init__(self,key,value=None):
    self.key=key
    self.value=value
    self.right=None
    self.left=None
    self.parent=None

In [ ]:
def insert(node,key,value):
  if node is None:
    return BSTNode(key,value)
  if key<node.key:
    node.left=insert(node.left,key,value)
    node.left.parent=node
  if key>node.key:
    node.right=insert(node.right,key,value)
    node.right.parent=node

  return node

In [57]:
def insert(node,key,value):
  if node is None:
    node=BSTNode(key,value)
  elif key< node.key:
    node.left=insert(node.left,key,value)
    node.left.parent=node

  elif key>node.key:
    node.right=insert(node.right,key,value)
    node.right.parent=node

  return node

In [58]:
tree = insert(None, jadhesh.username, jadhesh)

In [59]:
insert(tree, biraj.username, biraj)
insert(tree, sonaksh.username, sonaksh)
insert(tree, aakash.username, aakash)
insert(tree, hemanth.username, hemanth)
insert(tree, siddhant.username, siddhant)
insert(tree, vishal.username, siddhant)

In [60]:
display_keys(tree)

		vishal
	sonaksh
		siddhant
jadhesh
		hemanth
	biraj
		aakash

In [62]:
tree2 = insert(None, aakash.username, aakash)
insert(tree2, biraj.username, biraj)
insert(tree2, hemanth.username, hemanth)
insert(tree2, jadhesh.username, jadhesh)
insert(tree2, siddhant.username, siddhant)
insert(tree2, sonaksh.username, sonaksh)
insert(tree2, vishal.username, vishal)

In [63]:
display_keys(tree2)

						vishal
					sonaksh
						∅
				siddhant
					∅
			jadhesh
				∅
		hemanth
			∅
	biraj
		∅
aakash
	∅

In [ ]:
def insert(node,key,value):
  if node is None:
    node=BSTNode(key,value)

  elif key<node.key:
    node.left=insert(node.left,key,value)
    node.left.parent=node
  elif key>node.key:
    node.rightj=insert(node.right,key,value)
    node.right.parent=node
  return node