<a href="https://colab.research.google.com/github/Bizor1/Data_structures-and-Algorithms/blob/main/Sorting_Algorithms.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
test0={
  'inputs':{
      'nums': [4, 2, 6, 3, 4, 6, 2, 1]

  },
  'output' : [1, 2, 2, 3, 4, 4, 6, 6]
}

In [ ]:
test1 = {
    'input': {
        'nums' : [5, 2, 6, 1, 23, 7, -12, 12, -243, 0]
    },

    'output' :  [-243, -12, 0, 1, 2, 5, 6, 7, 12, 23]
}

In [ ]:
# A list that's already sorted
test2 = {
    'input': {
        'nums': [3, 5, 6, 8, 9, 10, 99]
    },
    'output': [3, 5, 6, 8, 9, 10, 99]
}

In [ ]:
# A list that's sorted in descending order
test3 = {
    'input': {
        'nums': [99, 10, 9, 8, 6, 5, 3]
    },
    'output': [3, 5, 6, 8, 9, 10, 99]
}

In [ ]:
# A list containing repeating elements
test4 = {
    'input': {
        'nums': [5, -12, 2, 6, 1, 23, 7, 7, -12, 6, 12, 1, -243, 1, 0]
    },
    'output': [-243, -12, -12, 0, 1, 1, 1, 2, 5, 6, 6, 7, 7, 12, 23]
}

In [ ]:
# An empty list 
test5 = {
    'input': {
        'nums': []
    },
    'output': []
}

In [ ]:
# A list containing just one element
test6 = {
    'input': {
        'nums': [23]
    },
    'output': [23]
}

In [ ]:
# A list containing one element repeated many times
test7 = {
    'input': {
        'nums': [42, 42, 42, 42, 42, 42, 42]
    },
    'output': [42, 42, 42, 42, 42, 42, 42]
}

In [ ]:
import random

in_list = list(range(10000))
out_list= list(range(10000))
random.shuffle(in_list)


test8 = {
    'input' : {
        'nums': in_list
    },
    'output' : out_list
}

In [ ]:
tests = [test0, test1, test2, test3, test4, test5, test6, test7, test8]